
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ATURAN KEAMANAN TERBUKA:
    // Mengizinkan akses baca dan tulis penuh untuk SEMUA koleksi 
    // selama pengguna sudah melakukan login. 
    // Ini menghapus semua potensi error 'Missing or insufficient permissions'.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
  }
}
